@import "../../variables";

.menu {
  position: fixed;
  width: $size * 2;
  height: $size * 2;
  top: $size;
  right: $size;
  overflow: hidden;
  z-index: $z-menu;
  background: $color-accent;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba($color-text, .5);
  transition: width 1s ease, height 1s ease, top 1s ease, right 1s ease;
  will-change: width, height, top, right;

  @media print {
    display: none;
  }
  
  @media #{$media} {
    top: $size * 2;
    right: $size * 2;
    transition: width 0s ease, height 0s ease, top 0s ease, right 0s ease;
  }

  &--open {
    width: calc(max(400vh, 400vw) + #{$size});
    height: calc(max(400vh, 400vw) + #{$size});
    top: calc(-1 * max(200vh, 200vw) + #{$size});
    right: calc(-1 * max(200vh, 200vw) + #{$size});
  }

  &--open &__content {
    top: calc(max(200vh, 200vw) - #{$size});
    right: calc(max(200vh, 200vw) - #{$size});
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: -$size;
    right: -$size;
    transition: top 1s ease, right 1s ease;
    will-change: top, right;

    @media #{$media} {
      top: -2 * $size;
      right: -2 * $size;
      transition: top 0s ease, right 0s ease;
    }

    &__icon {
      position: absolute;
      width: $size * 2;
      height: $size * 2;
      top: $size;
      right: $size;

      @media #{$media} {
        top: $size * 2;
        right: $size * 2;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__link {
        padding: ($size / 2) ($size / 5);
        font-family: 'Source Code Pro', monospace;
        font-weight: 600;
        font-size: 3rem;
        color: $color-text;
        text-transform: uppercase;
        transition: color .15s ease;

        &:hover {
          color: $color-dark;
        }
      }
    }
  }
}
