@import "../../variables";

.triangles {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;

  &__triangle {
    position: absolute;
    width: 0;
    height: 0;
    will-change: transform;

    &--back {
      right: 0;
      bottom: 0;
      width: 25vw;
      border-left: 10vw solid transparent;
      border-bottom: 107.5vh solid $color-dark;
    }

    &--front {
      right: -5vw;
      bottom: -5vh;
      border-bottom: 40vh solid $color-primary;
      border-left: 80vw solid transparent;
    }
  }
}
