@import "../../variables";

.resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 0 ($size * 3);
  background: $color-dark;
  overflow-x: hidden;
  overflow-y: scroll;

  &__title {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: $size / 4;
    color: $color-accent;

    @media #{$media} {
      font-size: 1.5rem;
    }
  }

  &__download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $size 0;
    font-size: .8rem;
    color: $color-accent;
    transition: transform .15s ease;

    &:hover {
      transform: scale(1.2);
    }

    svg {
      height: $size * .8;
      width: $size * .8;
      margin: 0 ($size / 2);

      &.stroke {
        stroke: $color-accent;

        path {
          stroke: $color-accent;
        }
      }

      &.fill {
        fill: $color-accent;

        path {
          fill: $color-accent;
        }
      }
    }
  }
}
