@import "../../variables";

.resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 0 ($size * 3);
  background: $color-dark;
  overflow-x: hidden;
  overflow-y: scroll;

  &__title {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: $size / 4;
    color: $color-accent;

    @media #{$media} {
      font-size: 1.5rem;
    }
  }
}
