@import "variables";

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.parallax {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  will-change: transform;

  &--back {
    right: 0;
    bottom: 0;
    width: 25vh;
    border-left: 15vw solid transparent;
    border-bottom: 115vh solid $color-dark;
  }

  &--front {
    right: -5vw;
    bottom: -5vh;
    border-bottom: 40vh solid $color-primary;
    border-left: 80vw solid transparent;
  }

}

.menu {
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 50px;
  right: 50px;
  overflow: hidden;
  background: $color-accent;
  box-shadow: 0 0 5px rgba($color-text, .5);
  will-change: width, height, top, right;

  &__content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    will-change: top, right;
  }
}
