@import "~highlight.js/scss/obsidian";

@import "variables";

@import "markdown";

* {
  box-sizing: border-box;
}

::selection {
  color: $color-dark;
  background: $color-white;
  text-shadow: ($size / 15) ($size / 15) $color-accent;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
}

code {
  font-family: 'Source Code Pro', monospace;
}

// x-axios-progress-bar
#nprogress {
  & .bar {
    background: $color-accent;
  }

  & .peg {
    box-shadow: 0 0 ($size / 3) $color-accent, 0 0 ($size / 6) $color-accent;
  }

  & .spinner-icon {
    border-top-color: $color-accent;
    border-left-color: $color-accent;
  }
}
