@import "variables";
@import "mixins";

.markdown {
  a {
    text-decoration: none;
    color: $color-blue;
    transition: color .15s ease;

    &:visited {
      color: $color-blue;
    }

    &:hover {
      color: $color-blue;
    }
  }

  ul {
    padding-inline-start: $size / 1.5;
  }

  :not(pre) > code {
    background: $color-silver;
    color: $color-text;
    padding: 0 ($size / 6);
    border-radius: $size / 10;
  }

  pre {
    position: relative;
    margin: ($size / 1.5) ($size / 2) $size;
    border-radius: $size / 10;
    z-index: 1;

    @include lined($color-primary);

    code {
      border-radius: $size / 10;
    }
  }

  .media {
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    max-width: 80%;
    margin: ($size / 2) auto $size;

    &--audio {
      width: unset;
    }

    &__caption {
      display: inline-block;
      width: fit-content;
      background: $color-text;
      margin-left: $size;
      padding: ($size / 6) ($size / 2) ($size / 3);
      z-index: 2;

      &__title {
        display: block;
        font-weight: 600;
        color: $color-accent;
      }

      &__subtitle {
        display: block;
        font-size: .875rem;
        color: $color-accent;
      }
    }

    &__wrapper {
      position: relative;
      z-index: 1;

      @include lined($color-primary);

      &__content {
        display: block;
        max-width: 100%;
        max-height: $size * 24;
        margin: auto;
        border-radius: $size / 10;
      }

      &__ui {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: ($size / 8) ($size / 4);
        background: $color-text;
        color: $color-background;
        border-radius: ($size / 10);
        text-align: center;

        &__bar {
          flex-grow: 2;
          background: rgba($color-yellow, .5);
          cursor: pointer;

          &__time {
            height: $size / 4;
            background: $color-yellow;
            transition: width .3s ease, color .15s ease;
          }
        }

        &__progress {
          padding: $size / 3;
          font-size: .9rem;
          line-height: $size;
        }

        &__button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: $size / 3;
          font-size: $size;
          cursor: pointer;

          &:hover {
            svg {
              fill: $color-accent;
              stroke: $color-accent;
            }
          }

          svg {
            height: $size / 1.5;
            width: $size / 1.5;
            fill: rgba($color-accent, .5);
            stroke: rgba($color-accent, .5);
            transition: fill .15s ease, stroke .15s ease;
          }
        }
      }
    }
  }
}

