@import "variables";
@import "mixins";

.markdown {
  a {
    text-decoration: none;
    color: $color-blue;
    transition: color .15s ease;

    &:visited {
      color: $color-blue;
    }

    &:hover {
      color: $color-navy;
    }
  }

  p > code {
    background: $color-silver;
    color: $color-text;
  }

  pre {
    position: relative;
    margin: 20px 12px 30px auto;

    @include lined();
  }

  figure {
    display: block;
    width: fit-content;
    max-width: 80%;
    margin: 20px auto 30px;

    & > div.wrapper {
      position: relative;
      z-index: 1;

      & > img {
        max-width: 100%;
        margin: auto;
        display: block;
      }

      @include lined();
    }

    & > figcaption {
      display: inline-block;
      background: $color-text;
      margin-left: 35px;
      padding: 15px 15px 5px;

      & > span {
        display: block;
        color: $color-accent;

        &:first-of-type {
          font-weight: 600;
        }

        &:nth-of-type(2) {
          font-size: .875rem;
        }
      }
    }
  }
}

div.mediaPlayer {
  margin: ($size / 1.5) auto $size;

  @media #{$media} {
    width: 80%;
  }

  &.audio {
    & > div.media {
      background: $color-gray;
    }
  }

  &.video {
    & > div.media {
      position: relative;
      padding-bottom: 56.25%;
    }
  }

  & > div.captions {
    display: inline-block;
    background: $color-accent;
    margin-left: $size;
    padding: ($size / 6) ($size / 2);

    & > span {
      display: block;
      color: $color-text;

      &:first-of-type {
        font-weight: 600;
      }

      &:nth-of-type(2) {
        font-size: .875rem;
      }
    }
  }

  div.media {
    position: relative;
    z-index: 1;
    @include lined();

    & > audio {
      display: none;
    }

    & > video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-position: top;
      border-radius: ($size / 10);
    }

    & > div.ui {
      padding: ($size / 4) ($size / 2);
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;

      & > div.progressBar {
        flex-grow: 2;
        height: ($size / 2);
        margin: ($size / 4);
        background: $color-text;
        cursor: pointer;

        & > div.timeBar {
          height: 16px;
          background: $color-primary;

          &:hover {
            background: $color-yellow;
          }
        }
      }

      & > span {
        height: $size;
        line-height: $size;
        margin: ($size / 3) 0 ($size / 3) ($size / 3);

        &.button {
          cursor: pointer;
          font-size: $size;
        }

        & > svg {
          fill: $color-accent;
        }

        &:hover {
          & > svg {
            fill: $color-accent;
          }
        }
      }
    }
  }
}



@mixin markdown-content {

}
